<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Page</title>
</head>
<body>
    Join Page<br/><br/>
    <form action="/join" method="post">
        name : <input type="text" name="name"><br/> 
        gender : MEN<input type="radio" name="gender" value="M" checked> WOMEN<input type="radio" name="gender" value="F"><br/>
        id : <input type="text" name="id"><br/>
        Password : <input type="password" name="pw"><br/>
        e-mail : <input type="text" name="email"><br/>
        tel : <input type="text" name="tel"><br/>
        <input type="submit" value="Join">
    </form>
</body>
</html>