<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    Login Page<br/><br/>
    <form action="/login" method="post">
        ID : <input type="text" name="id"><%=errMsg%><br/>
        Password : <input type="password" name="pw"><br/>
        <input type="submit" value="login">
    </form>
</body>
</html>