<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=userName%> Page</title>
</head>
<body>
    <%=userName%> 님 !! 로그인 완료 됬습니다!. <br/>
    <a href="/logout"><button>logout</button></a>
</body>
</html>