<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
    <a href="/login"><button class="login_btn">Login</button></a><br>
    <a href="/join"><button class="join_btn">Join</button></a>
</body>
</html>