<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body>
    <a href="/login"><button class="login_btn">Login</button></a><br>
    <a href="/join"><button class="join_btn">Join</button></a>
</body>
</html>